::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
    width: 0.50rem;
    height: 0.75rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
    transition: .2s;

    &:hover {
        background-color: var(--first-color);
    }
}